.aboutMe {
  width: 1100px;
  display: flex;
  justify-content: space-between;
  font-family: 'Courgette', cursive; }

.image {
  border-radius: 35%;
  width: 500px;
  height: 500px; }

.text {
  margin: 10px;
  font-size: 20px;
  text-align: center; }

.aboutMeLogos {
  display: flex;
  justify-content: space-between; }

.aboutMeLogoFb {
  width: 90px;
  height: 70px; }

.aboutMeLogoIg {
  width: 60px;
  height: 60px; }
