.contact {
    padding-top: 15px;
    display: flex;
    justify-content: space-around;
    background-color: #EDF8D3 ;
    height: 100vh;
    border-radius: 10px;
}

.contactPage{
    background-color: #EFF3C6;
}