.menu {
  height: 150px; }

.menuList {
  color: black;
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin: 30px;
  font-size: 35px;
  font-family: 'Courgette', cursive; }

.hamburger {
  visibility: hidden; }

a {
  text-decoration: none; }
  a:visited {
    color: black; }

.menuElement {
  cursor: pointer;
  transition: 0.5s; }
  .menuElement:hover {
    color: grey; }
    .menuElement:hover .underline {
      height: 5px;
      margin-top: -7px; }
  .menuElement:active {
    transform: translate(4%, 4%); }
  .menuElement .underline {
    position: relative;
    height: 0;
    background: grey;
    transition: ease-in-out 0.5s; }

@media (max-width: 850px) {
  .hiddenMenu {
    z-index: 2;
    background: black;
    width: 400px;
    transition: 1s;
    position: relative;
    right: 500px; }
    .hiddenMenu .menuList {
      flex-direction: column; }
      .hiddenMenu .menuList .menuElement {
        color: white; }
        .hiddenMenu .menuList .menuElement .underline {
          height: 0;
          margin: 0; }
          .hiddenMenu .menuList .menuElement .underline:hover {
            transform: none;
            color: black; }
          .hiddenMenu .menuList .menuElement .underline:focus {
            color: grey; }
  .hamburger {
    outline: none;
    margin-left: 15px;
    visibility: visible;
    transition: 0.3s transform linear;
    width: 40px;
    height: 35px;
    border: 0;
    border-top: 5px solid black;
    position: relative;
    background: transparent; }
    .hamburger::before, .hamburger::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      border-top: 5px solid black;
      transform: translateY(10px); }
    .hamburger::after {
      transform: translateY(25px); } }

@media (max-width: 650px) {
  .hiddenMenu {
    width: 300px; }
  .menuElement {
    font-size: 20px; } }

@media (max-width: 350px) {
  .hiddenMenu {
    width: 200px; }
  .menuElement {
    font-size: 12px; } }
