.aboutMePage{
    background-color: #EFF3C6;
  height: 100vh;
  padding-top: 15px;
}
.aboutMe{padding-top: 10px;
    display: flex;
    justify-content: space-between;
    background-color: #EFF3C6 ;
  border-radius: 15px;
}

.aboutMeImg {
  border-radius: 50%;
    padding-right: 30px;
    display: inline-block;
    width: 350px;
    height: 300px;
}

.aboutMeTxt{
text-align: center;
    font-size: 2.1rem;
}
.aboutMeLogos{
    padding-top: 50px;
    display: flex;
    justify-content: center;
}
.aboutMeLogoIg{
    padding-left: 10px;
    width: 70px;
    height: 60px;
}
.aboutMeLogoFb{
    cursor: pointer;
    margin-top: -7px;
    padding-right: 10px;
    width: 120px;
    height: 80px;
}
.aboutMeTxtDiv{
    width: 70%;
}
.aboutMeImgDiv{
    width: 40%;
}