.aboutMePage {
  background-color: #ffb4be; }

.aboutMe {
  display: flex;
  justify-content: space-between;
  background-color: #f8d1cb; }

.aboutMeImg {
  border-radius: 50%;
  padding-right: 30px;
  display: inline-block;
  width: 350px;
  height: 300px; }

.aboutMeTxt {
  text-align: center;
  font-size: 2.1rem; }

.aboutMeLogos {
  padding-top: 50px;
  display: flex;
  justify-content: center; }

.aboutMeLogoIg {
  padding-left: 10px;
  width: 50px;
  height: 50px; }

.aboutMeLogoFb {
  cursor: pointer;
  padding-right: 10px;
  width: 70px;
  height: 50px; }

.aboutMeTxtDiv {
  width: 70%; }

.aboutMeImgDiv {
  width: 40%; }
