*{
  box-sizing: border-box;
}
.center{
  margin: 0 auto;
  width: 1100px ;
 display: flex;
  justify-content: center;
  flex-direction: column;

}
.mainPage{
  background-color: rgb(282, 180, 190);
}

