.news {
  padding-top: 0;
  margin: 0;
  background-color: #f8d1cb;
  text-align: center; }

.news h2 {
  font-size: 30px;
  font-family: 'Indie Flower', cursive; }

.news span {
  font-size: 25px; }
