.news {
  padding-top: 0;
  margin: 0;
  background-color: #EDF8D3;
  text-align: center; }

.news h2 {
  font-size: 30px;
  font-family: 'Indie Flower', cursive; }

.news span {
  margin: 40px;
  display: block;
  font-size: 25px; }
