.slider li {
  list-style: none; }

.sliderPictures {
  display: flex;
  justify-content: space-between; }

.slider .visible {
  display: inline-block; }

.slider li > img {
  width: 650px;
  height: 500px; }

.centerSlider {
  font-family: 'Indie Flower', cursive;
  position: relative;
  padding-top: 0;
  list-style: none;
  text-align: center;
  font-size: 25px;
  background-color: #f8d1cb; }

.nextPicture, .prevPicture {
  border: 0;
  margin-top: 250px;
  background-color: #f8d1cb;
  height: 100px;
  width: 150px;
  cursor: pointer; }
  .nextPicture:active, .nextPicture:focus, .prevPicture:active, .prevPicture:focus {
    border: 0;
    outline: 0; }

.nextPicture {
  float: right; }

.prevPicture {
  float: left; }
