.top{
  padding-top: 20px;
  font-size: 50px;
  font-family: 'Great Vibes', cursive;
  text-align: center;
  background: url("../photos/1.jpg");
  height: 250px;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;

}