.footer {

  text-align: center;
  height: 75px;
  background-color: rgb(282, 180, 190);

  font-size: 13px;

}
.info{
  color: black;
  font-size: 8px;
  a {
    color: black;
    text-decoration: none;
  }
  }
.mainFooter{
  height: 80px;
  padding-top: 10px;
}