.gallery{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.galleryPage{
    background-color: rgb(282, 180, 190);
}
.centerGallery{
    margin: 0 auto;
    width: 1100px ;

}